h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #ffffff;
  color: #434455;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

button {
  cursor: pointer;
}
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: auto;
}

.hero-section {
  padding-top: 72px;
  padding-bottom: 72px;
  min-width: 320px;
  height: 432px;
  background-position: center;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/office-staff-mobile.jpg);

  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px),
  screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/office-staff-mobile@2x.jpg);
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    background-color: #fff;
    transform: translateX(100%);
    transition: transform 300ms linear;
  }

  .mobile-menu-wrapper.is-open {
    transform: translateX(0%);
  }

  .mobile-menu-open-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }
  .mobile-menu-container {
    position: relative;
  }

  .mobile-menu-close-btn {
    position: absolute;
    top: 17.5px;
    right: 16px;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    stroke: #2e2f42;
  }
  .mobile-menu-item {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: left;
    padding-top: 72px;
    margin-left: 16px;
    gap: 40px;
  }
  .color-ocean {
    color: #404bbf;
  }
  .color-navy {
    color: #2e2f42;
  }
  .mobile-menu-address {
    padding-top: 168px;
    margin-left: 16px;
  }
  .mobile-menu-address-item {
    padding-top: 24px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
  }
  .social-icons-form-item {
    border-radius: 50%;
    background-color: #4d5ae5;
  }
  .mobile-menu-social-icons-form {
    display: flex;
    padding-top: 48px;
    margin-left: 16px;
    margin-right: 16px;
    column-gap: 40px;
  }

  .tel-color {
    color: #4d5ae5;
  }
  .mail-color {
    color: #434455;
  }

  .section-top {
    margin-left: auto;
    margin-right: auto;
    width: 216px;
    height: 160px;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: center;
    color: white;
  }
  .hero-button {
    margin-top: 72px;
  }
  .tech-icons-form {
    display: none;
  }
  .menu-wrap {
    justify-content: center;
  }
}

/*================ MOBILE HEADER STYLES================*/

.info-section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.team-section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.menu-navigation {
  display: none;
  margin-left: 120px;
  column-gap: 40px;
}
.address-navigation {
  display: none;
}

.general-head-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.our-portfolio-list-container {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
}
.logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-logo {
  color: #2e2f42;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.hero-button {
  display: block;
  background-color: #4d5ae5;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-item {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 8px;
  letter-spacing: 0.02em;
  text-align: center;
}
.menu-item-ident {
  margin-bottom: 72px;
}
.menu-item-ident:last-child {
  margin-bottom: 0;
}
.text-item {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}
.info-section {
  padding-bottom: 96px;
}

.persons-list {
  padding-top: 32px;
  padding-bottom: 32px;
}
.team-section {
  background-color: #f4f4fd;
}
.menu-team {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-item-team {
  border-radius: 0px 0px 4px 4px;
  justify-content: center;
  width: 264px;
  margin-bottom: 72px;
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.menu-item-team:last-child {
  margin-bottom: 0;
}
.section-team {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}
.section-name {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.section-position {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-icon-view {
  display: flex;
  border-radius: 50%;
  background-color: #4d5ae5;
  align-items: center;
  justify-content: center;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-networks-item {
  width: 40px;
  height: 40px;
}

.social-networks {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.section-portfolio {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.menu-item-portfolio:hover .appear-txt {
  transform: translateY(0%);
}
.menu-item-portfolio:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.menu-wrap {
  display: flex;
  gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
}
.appear {
  position: relative;
  overflow: hidden;
}
.appear-txt {
  position: absolute;
  top: 0;
  padding: 40px 32px;
  height: 100%;
  width: 100%;
  color: #f4f4fd;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-item-portfolio {
  justify-content: center;
}
.services-list {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
  margin-bottom: 8px;
}
.our-portfolio-list-container {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.section-value {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
}

.end {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: #2e2f42;
}
.footer-logo {
  margin-bottom: 72px;
}

.end-logo {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
}

.end-text {
  color: #f4f4fd;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
  margin-top: 16px;
}
.social-icons {
  margin-bottom: 72px;
}
.social-icons-txt {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
}

.footer-social-icons-form {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.social-icons-form-item {
  width: 40px;
  height: 40px;
}
.footer-modal-txt {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
  color: #ffffff;
}

.footer-form {
  margin-left: 16px;
}
.footer-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}
.footer-button {
  display: flex;
  font-family: "Roboto", sans-serif;
  min-width: 165px;
  height: 40px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
}
.footer-icon {
  margin-left: 16px;
}
/*====MODAL====*/
.footer-icon-top {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-inside-modal-window:hover,
.button-inside-modal-window:focus {
  fill: #ffffff;
}

.inside-form-text {
  margin-bottom: 16px;
}
.wishes {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
}
.wishes:focus {
  border-color: #4d5ae5;
}
.bottom-form {
  margin-bottom: 16px;
}
.txt-area {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  padding: 8px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.txt-area:focus {
  border-color: #4d5ae5;
}
.checkbox {
  margin-bottom: 24px;
}
.checkbox-item {
  display: inline-flex;
}
.inside-form-item {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.field-top {
  position: relative;
}
.icon-item {
  position: absolute;
  left: 16px;
  top: 35%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-data {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.user-data:focus {
  border-color: #4d5ae5;
}

.general-modal-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.inside-modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 288px;
  min-height: 623px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.field-top {
  width: 256px;
  height: 58px;
}
.inside-modal-window-txt {
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.button-inside-modal-window {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-inside-modal-window:hover,
.button-inside-modal-window:focus {
  background-color: #404bbf;
  border: none;
}

.user-privacy-item {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.text-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
}
.send-data {
  display: block;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}
.link-icon {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  cursor: pointer;
}

.checkbox-item:checked + .user-privacy-item > .link-icon {
  background-color: #404bbf;
  fill: #4d5ae5;
  border: none;
}
input:focus + svg {
  fill: #4d5ae5;
}
.privacy-link {
  color: #4d5ae5;
}

/*================/ MOBILE HEADER STYLES================*/

/*================ TABLET HEADER STYLES================*/
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .hero-section {
    min-width: 768px;
    padding-top: 112px;
    padding-bottom: 112px;
    background-position: center;
    background-color: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/office-staff-tablet.jpg);

    background-repeat: no-repeat;
    background-size: cover;
  }

  @media screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px),
    screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/office-staff-tablet@2x.jpg);
    }
  }
  .general-footer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
    padding-left: 108px;
  }

  .mobile-menu-open-btn {
    display: none;
  }
  .mobile-menu-wrapper {
    display: none;
  }
  .menu-navigation {
    display: flex;
  }
  .page-navigation {
    display: flex;
  }
  .address-navigation {
    display: inline-flex;
    row-gap: 12px;
  }
  .menu-item-number-mail {
    margin-left: 0;
    margin-right: 0;
  }

  .menu-item-ident {
    margin-bottom: 0;
  }
  .logo-link {
    font-family: Roboto;
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
    color: #2e2f42;
  }

  .menu-link-link {
    display: block;
    color: #434455;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0.02em;
    padding-top: 12px;
    justify-content: space-between;
  }

  .section-top {
    color: #fff;
    justify-content: center;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 496px;
    max-height: 120px;
    margin-right: auto;
    margin-left: auto;
  }

  .hero-button {
    display: block;
    background-color: #4d5ae5;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin-top: 36px;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-item-team {
    border-radius: 0px 0px 4px 4px;
    background-color: #ffffff;
    margin-bottom: 0;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .desktop {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
  }
  .menu-wrap {
    row-gap: 72px;
  }
  .text-item {
    width: 356px;
  }

  .menu-team {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 64px;
  }
  .tech-icons-form {
    display: none;
  }
  .ford {
    margin-right: 0;
  }
  .wilson {
    margin-right: 0;
    margin-bottom: 0;
  }
  .menu-item-portfolio {
    width: calc((100% - 24px) / 2);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    justify-content: center;
  }
  .our-portfolio-list-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
  }
  .section-item {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: left;
  }

  .end {
    padding: 100px 0;
  }

  .logo {
    justify-content: left;
  }

  .footer-logo {
    margin-bottom: 0;
  }
  .end-logo {
    color: #f4f4fd;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    text-transform: uppercase;
  }

  .end-text {
    color: #f4f4fd;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
  }
  .social-icons {
    margin-bottom: 0;
  }
  .social-icons-txt {
    text-align: left;
    padding-left: 24px;
  }
  .social-icons-form-item {
    width: 40px;
    height: 40px;
  }

  .footer-social-icons {
    justify-content: center;
    gap: 16px;
  }

  .footer-icons-form {
    text-align: left;
  }
  .footer-form {
    display: flex;
    align-items: baseline;
    margin-left: 0;
  }

  .footer-modal-txt {
    text-align: left;
    margin-bottom: 0;
  }
  .footer-button {
    margin-left: 24px;
  }
  .inside-modal-window {
    width: 408px;
    min-height: 584px;
  }

  .field-top {
    width: 360px;
  }
}

/*================/ TABLET HEADER STYLES================*/

/*================ DESCTOP HEADER STYLES================*/

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }

  .hero-section {
    height: 600px;
    padding: 188px 0;
    background-position: center;
    background-color: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/office-staff-desktop.jpg);

    background-repeat: no-repeat;
    background-size: cover;
  }

  @media screen and (min-resolution: 192dpi) and (min-width: 1158px),
    screen and (min-resolution: 2dppx) and (min-width: 1158px),
    screen and (min-device-pixel-ratio: 2) and (min-width: 1158px) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/office-staff-desktop@2x.jpg);
    }
  }
  .general-footer-container {
    flex-wrap: nowrap;
    padding-left: 16px;
  }

  .footer-logo {
    margin-left: 0;
  }

  .address {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .address-navigation {
    color: black;
  }

  .menu-item:hover,
  .menu-item:focus {
    color: #404bbf;
  }
  .menu-link-link {
    display: block;
    color: #434455;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .desktop {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
  }

  .tech-icons-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #000;
  }
  .section-item {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
    margin-top: 8px;
  }
  .text-item {
    width: 264px;
    font-family: Roboto;
    font-size: 15.9px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    margin-top: 8px;
    justify-content: space-between;
  }

  .team-section {
    background-color: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .portfolio-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .menu-team {
    flex-wrap: nowrap;
  }

  .menu-item-team {
    border-radius: 0px 0px 4px 4px;
    background-color: #ffffff;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .menu-item-team:last-child {
    margin-right: 0;
  }
  .menu-item-portfolio {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-networks {
    display: flex;
    gap: 24px;
  }

  .social-networks-item {
    width: 40px;
    height: 40px;
  }
  .social-networks {
    display: flex;
    gap: 24px;
  }

  .menu-wrap {
    display: flex;
    align-items: center;
    gap: 24px;
    row-gap: 40px;
  }

  .footer-logo {
    margin-right: 120px;
    text-align: left;
  }
  .social-icons {
    margin-right: auto;
  }
  .social-icons-txt {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
  }
  .footer-social-icons-form {
    display: flex;
    gap: 16px;
  }

  .end {
    padding: 100px 0;
    /* height: 312px; */
  }
  .footer-icon-view {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-icons-form-item {
    fill: #f4f4fd;
    width: 40px;
    height: 40px;
  }
  .footer-icon-view:hover,
  .footer-icon-view:focus {
    background-color: #31d0aa;
  }
  .footer-modal {
    /* margin-left: 500px;
    margin-top: 10px;
    padding-left: 80px; */
  }
  .footer-modal-txt {
    margin-bottom: 0;
    /* margin-left: 10px; */
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
  }

  .footer-form {
    display: flex;
    gap: 24px;
    color: #ffffff;
  }

  .footer-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
  }
  .footer-button {
    display: flex;
    font-family: "Roboto", sans-serif;
    min-width: 165px;
    height: 40px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    margin-left: 0;
  }
  .footer-icon {
    margin-left: 16px;
  }
}
/*================/ DESCTOP HEADER STYLES================*/
